@import url('https://fonts.googleapis.com/css?family=Unlock');
@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: auto;
    margin: 0;
    line-height: 100%;
}
h1{
    padding-bottom: 30px;
    background:  rgb(231, 222, 167);
    font-size: 60px;
    font-family: 'Unlock', cursive;
    display: inline;
    float: left;
    
}
.nav {
   background: rgb(231, 222, 167);
   display: inline;
 
}
ul{
    display: flex;
    overflow: auto;
    list-style-type: none;
    float: right;
    
    
}
li
{
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 18px;
    text-transform: uppercase;
    height: 18px;
    padding: 10px 10px 4px; 
}
li a {
    text-decoration: none;
    color: white;
}
li a:hover {
color: #666;
}
li.active a{
    font-weight: bold;
    color: black;
}
.wrapper {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
}
.main {
    padding: 1em;
    background: beige;
}
.aside {
    padding: 2em;
    background: rgb(219, 197, 163);
    text-align: center;
}
.column1h2 {
    padding: 0  0 1em;
    text-align: center;
    font-size: 2.5em;
}
.column2h2 {
    padding: 0  0 1em;
    text-align: center;
    font-size: 2.5em;
}
.vrimg {
    float: left;
    padding-right: 1em;
}





/*-----------------*/ 
@media (min-width: 1200px){
    
    
    .main{
        width: 75%;
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        justify-content: space-around; 
        
    }
    .aside{
        width: 25%;
        background: rgb(245, 240, 179);
    }
    .column1 {
        flex: 50%;
        padding: 2em;
    }
    .column2{
        flex: 50%;
        padding: 2em;
        
    }
    
}
