@import url('https://fonts.googleapis.com/css?family=Unlock');
@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy');
@import url('https://fonts.googleapis.com/css?family=Arbutus+Slab');


* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: auto;
    margin: 0;
    line-height: 100%;
    
    
}
h1{
    padding-bottom: 0px;
    padding-left: 45px;
    font-size: 60px;
    font-family: 'Unlock', cursive;
    display: inline;
    color: white;

    
}
.nav {
   
   display: inline;
   padding: 3em 0em 2.5em 0em;
   background: black;
 
}
ul{
    display: flex;
    overflow: auto;
    list-style-type: none;
    float: right;
    padding-right: 30px;
    
    
    
}
li
{
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 18px;
    text-transform: uppercase;
    height: 18px;
    padding: 10px 10px 4px; 
}
li a {
    text-decoration: none;
    color: white;
}
li a:hover {
color: #666;
}
li.active a{
    font-weight: bold;
    color: #666;  
    
}

.adri{
    max-width: 152px;
    max-height: 200px;
    width: auto;
    height: auto;
    float: left;
    padding-right: 20px;
}

.about{
    font-size: 22px;
    padding-top: 10px;
}

.aboutus{
padding-left: 55px;
padding-right: 55px;
background-color: whitesmoke;
text-align:justify;  
text-justify:auto;
padding-top: 30px;
}


.news { 
    padding: 2em;
    background: whitesmoke;
}

.subhead{
    padding-top: 20px;
    border-bottom: 1px solid rgb(177, 177, 177);
    background-color: whitesmoke;
    font-family: "Sorts Mill Goudy", serif;
}
h3 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding: 15px;
    
    
}
h4{
    padding: 20px 0 20px 0;
    font-size: 20px;
    font-family: "Arbutus Slab", serif;
}
.aside {
  
    padding: 2em;
    background: rgb(248, 248, 240);
    text-align: center;
    
}

.footer {
    padding: 20px;
    background: black;
    
}
.column1h2 {
    padding: 0  0 1em;
    text-align: center;
    font-size: 2.5em;
    font-family: "Arbutus Slab", serif;
    line-height: 1em;
    
}
.column2h2 {
    padding: 0  0 1em;
    text-align: center;
    font-size: 2.5em;
    line-height: 1em;
    font-family: "Arbutus Slab", serif;
}
.column1 {
    border-right: solid 1px rgb(177, 177, 177);
    text-align:justify;  
    text-justify:auto;
}
.column2 {
    text-align:justify;  
    text-justify:auto;
}
.vrimg {
    
    width: 100%;
    height: auto;
    padding: 20px 20 20px 0px;
 
}

 .lowc{
    width: 100%;
    height: auto;
    padding: 25px 0 25px 0;
 }
.resp{
    width: 100%;
    height: auto;
    padding: 25px 0 25px 0;
}

p {
    font-size: 18px;
    font-family: georgia, times, serif;
    line-height: 1.2;
}
.nbar{
    padding:30px;
    font-size:2em;
}
iframe{
    padding: 20px 0 20px 0;
}





/*-----------------*/ 
@media (min-width: 1200px){
     
    .wrapper{
        display: flex;
        flex: 1 0 auto;
        width: 100%;
        flex-direction: column;
    }
    .jtgwrapper{
        display: flex;
        flex: 1 0 auto;
        width: 100%;
        flex-direction: row; 
    }
    
    .news{
        
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        justify-content: space-around; 
        
    }
    .main{
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        justify-content: space-around; 
        width:75%;
    }
    .tmain{
        display: flex;
        flex: 1 1 auto;
        width:75%;
    }
    .rmain {
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        justify-content: space-around;  
        width:100%;
    }
   
    
    .aside{
        width: 25%;
        background: rgb(248, 248, 240);
       
    }
    .column1 {
        flex: 50%;
        padding: 2em;
    }
    .column2{
        flex: 50%;
        padding: 2em;
        
    }
    .column3{
        flex: 50%;
        padding: 2em;
        
    }
    .column4{
        flex: 50%;
        padding: 2em;
        
    }
    .column5{
        flex:33%;
        padding: 2em;
    }
    .column6{
        flex:33%;
        padding: 2em;
    }
    .column7{
        flex:33%;
        padding: 2em;
    }
}
