@import url('https://fonts.googleapis.com/css?family=Unlock');
@import url('https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: auto;
    margin: 0;
    line-height: 100%;
    
}
h1{
    padding-bottom: 0px;
    padding-left: 45px;
    font-size: 60px;
    font-family: 'Unlock', cursive;
    display: inline;
    float: left;
    color: white;

    
}
.nav {
   
   display: inline;
   padding: 3em 0em 2.5em 0em;
   background: black;
 
}
ul{
    display: flex;
    overflow: auto;
    list-style-type: none;
    float: right;
    padding-right: 30px;
    
    
    
}
li
{
    font-family: 'Sorts Mill Goudy', serif;
    font-size: 18px;
    text-transform: uppercase;
    height: 18px;
    padding: 10px 10px 4px; 
}
li a {
    text-decoration: none;
    color: white;
}
li a:hover {
color: #666;
}
li.active a{
    font-weight: bold;
    color: #666;  
    
}


.aboutus{
padding-left: 30px;
padding-right: 30px;
background-color: whitesmoke;
    
}


.news { 
    padding: 3em;
    background: whitesmoke;
}

.subhead{
    border-bottom: 1px solid rgb(177, 177, 177);
    
}
h3 {
    display: flex;
    justify-content: center;
    font-size: 35px;
    padding: 15px;
}
.aside {
  
    padding: 2em;
    background: rgb(248, 248, 240);
    text-align: center;
    border-left: black;
}

.footer {
    padding: 30px;
    background: black;
    
}
.column1h2 {
    padding: 0  0 1em;
    text-align: center;
    font-size: 2.5em;
    
}
.column2h2 {
    padding: 0  0 1em;
    text-align: center;
    font-size: 2.5em;
}
.column1 {
    border-right: solid 1px rgb(177, 177, 177);
}
.vrimg {
    padding-right: 20px;
    width: 100%;
    height: auto;
 
}
 
p {
    font-size: 18px;
    font-family: "Libre Baskerville", serif;
    line-height: 1.2;
}






/*-----------------*/ 
@media (min-width: 1200px){
     
    .wrapper{
        display: flex;
        flex: 1 0 auto;
        width: 100%;
        flex-direction: column;
    }
    
    .news{
        
        display: flex;
        flex: 1 1 auto;
        justify-content: center;
        justify-content: space-around; 
        
    }
   
    
    .aside{
        width: 25%;
        background: rgb(248, 248, 240);
        border-left: black;
    }
    .column1 {
        flex: 50%;
        padding: 2em;
    }
    .column2{
        flex: 50%;
        padding: 2em;
        
    }
    
}
